<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Page 2</title>
</head>
<body> 
<h1>HTML-шаблоны и наследование</h1>
<p>Давайте вдохнем немного жизни в проект и разработаем правильную домашнюю страницу для нашего
    веб-приложения Snippetbox. В следующих нескольких главах мы будем работать над созданием страницы, которая
    будет выглядеть так:
</p>    
<p><img src="static/images/picture2.8.png"/></p>    
<p>Для этого давайте сначала создадим новый файл шаблона в каталоге ui/html…</p>
<pre><code>$ cd $HOME/code/snippetbox
    $ touch ui/html/home.page.tmpl</code></pre>

<p>…а затем добавьте к нему следующую HTML-разметку для домашней страницы:</p>
<pre><code>
    File: ui/html/home.page.tmpl
    &lt;!doctype html&gt;
    &lt;html lang='en'&gt;
        &lt;head&gt;
            &lt;meta charset='utf-8'&gt;
            &lt;title&gt;Home - Snippetbox&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
            &lt;header&gt;
                &lt;h1&gt;&lt;a href='/'&gt;Snippetbox&lt;/a&gt;&lt;/h1&gt;
            &lt;/header&gt;
            &lt;nav&gt;
                &lt;a href="/"&gt;Home&lt;/a&gt;
            &lt;/nav&gt;
            &lt;main&gt;
                &lt;h2&gt;Latest Snippets&lt;/h2&gt;
                &lt;p&gt;There's nothing to see here yet!&lt;/p&gt;
            &lt;/main&gt;
        &lt;/body&gt;
    &lt;/html&gt;
</code></pre>
<p class="note">Примечание. В этой книге мы будем использовать соглашение об именах..tmpl для
    файлов шаблонов, гдеявляется страницей, частичной или макетом. Возможность
    определить роль шаблона по имени файла поможет нам, когда дело дойдет до
    создания кэша шаблонов позже в книге.</p>

<p>Итак, теперь, когда мы создали файл шаблона с HTML-разметкой для домашней страницы, возникает следующий
    вопрос: как заставить наш домашний обработчик отображать ее?
</p>
<p>Для этого нам нужно импортировать пакет Go html/template, который предоставляет набор
    функций для безопасного разбора и рендеринга HTML-шаблонов. Мы можем использовать функции этого
    пакета для анализа файла шаблона и последующего выполнения шаблона.</p>
<p>Я продемонстрирую. Откройте файл cmd/web/handlers.go и добавьте следующий код:</p>

<pre><code>File: cmd/web/handlers.go
    package main
    import (
    "fmt"
    "html/template" // New import
    "log" // New import
    "net/http"
    "strconv"
    )
    func home(w http.ResponseWriter, r *http.Request) {
    if r.URL.Path != "/" {
    http.NotFound(w, r)
    return
    }
    // Use the template.ParseFiles() function to read the template file into a
    // template set. If there's an error, we log the detailed error message and use
    // the http.Error() function to send a generic 500 Internal Server Error
    // response to the user.
    ts, err := template.ParseFiles("./ui/html/home.page.tmpl")
    if err != nil {
    log.Println(err.Error())
    http.Error(w, "Internal Server Error", 500)
    return
    }
    // We then use the Execute() method on the template set to write the template
    // content as the response body. The last parameter to Execute() represents any
    // dynamic data that we want to pass in, which for now we'll leave as nil.
    err = ts.Execute(w, nil)
    if err != nil {
    log.Println(err.Error())
    http.Error(w, "Internal Server Error", 500)
    }
}
...</code></pre>
<p>Важно отметить, что путь к файлу, который вы передаете
    функции template.ParseFiles(), должен быть либо относительным к вашему текущему рабочему каталогу, либо абсолютным путем. В
    приведенном выше коде я сделал путь относительно корня каталога проекта.</p>
<p>Итак, с учетом сказанного, убедитесь, что вы находитесь в корне каталога вашего проекта, и перезапустите
    приложение:</p>
<pre><code>$ cd $HOME/code/snippetbox
    $ go run ./cmd/web
    2023/08/02 17:49:24 Starting server on :4000</code></pre>
<p>Затем откройте <span>http://localhost:4000</span> в веб-браузере. Вы должны обнаружить, что домашняя страница HTML
    выглядит хорошо.</p>
<p><img src="static/images/picture2.9.png"/></p>
<h2>Состав шаблона</h2>
<p>По мере того, как мы добавляем больше страниц в это веб-приложение, будет некоторая общая шаблонная HTML-
    разметка, которую мы хотим включить на каждую страницу — например, заголовок, навигация и метаданные
    внутри элемента HTML.</p>
<p>Чтобы избавить нас от ввода и предотвратить дублирование, рекомендуется создать шаблон макета (или мастер-шаблон),
    содержащий этот общий контент, который мы затем можем скомпоновать с разметкой для отдельных страниц.</p>
<p>Идем дальше и создаем новый файл ui/html/base.layout.tmpl…</p>
<pre><code>$ touch ui/html/base.layout.tmpl</code></pre>
<p>И добавьте следующую разметку (которую мы хотим отображать на каждой странице):</p>
<pre><code>File: ui/html/base.layout.tmpl
{{define "base"}}
&lt;!doctype html&gt;
&lt;html lang='en'&gt;
    &lt;head&gt;
        &lt;meta charset='utf-8'&gt;
        &lt;title&gt;{{template "title" .}} - Snippetbox&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;header&gt;
            &lt;h1&gt;&lt;a href='/'&gt;Snippetbox&lt;/a&gt;&lt;/h1&gt;
        &lt;/header&gt;
        &lt;nav&gt;
            &lt;a href='/'&gt;Home&lt;/a&gt;
        &lt;/nav&gt;
        &lt;main&gt;
            {{template "main" .}}
        &lt;/main&gt;
    &lt;/body&gt;
&lt;/html&gt;
{{end}}</code></pre>
<p>Надеюсь, это покажется вам знакомым, если вы уже использовали шаблоны на других языках. По сути, это
    обычный HTML с некоторыми дополнительными действиями в двойных фигурных скобках.
</p>
<p>Здесь мы используем действие {{define "base"}}...{{end}} для определения отдельного именованного
    шаблона с именем base, который содержит содержимое, которое мы хотим отображать на каждой странице.
</p>
<p>Внутри этого мы используем действия {{template "title" .}} и {{template "main" .}}, чтобы
    обозначить, что мы хотим вызывать другие именованные шаблоны (называемые title и main) в определенной
    точке HTML.
</p>
<p class="note">Примечание. Если вам интересно, точка в конце действия {{template "title" .}}
    представляет любые динамические данные, которые вы хотите передать вызываемому шаблону. Мы поговорим
    об этом позже в книге</p>
<p>Теперь вернемся к ui/html/home.page.tmpl и обновим его, чтобы определить заголовок и основные
    именованные шаблоны, содержащие определенный контент для домашней страницы:</p>
<pre><code>File: ui/html/home.page.tmpl
    {{template "base" .}}
    {{define "title"}}Home{{end}}
    {{define "main"}}
        &lt;h2&gt;Latest Snippets&lt;/h2&gt;
        &lt;p&gt;There's nothing to see here yet!&lt;/p&gt;
    {{end}}</code></pre>
<p>В самом верху этого файла находится, пожалуй, самая важная часть —
    действие {{template "base" .}}. Это информирует Go о том, что при выполнении файла home.page.tmpl
    мы хотим вызвать именованную базу шаблонов.
</p>
<p>В свою очередь базовый шаблон содержит инструкции по вызову
    шаблонов title и main named. Я знаю, что поначалу это может показаться немного зацикленным, но держитесь меня… на практике
    этот шаблон работает очень хорошо.
</p>
<p>Как только это будет сделано, следующим шагом будет обновление кода в вашем домашнем обработчике, чтобы он анализировал
    оба файла шаблона, например:
</p>
<pre><code>File: cmd/web/handlers.go
    package main
    ...
    func home(w http.ResponseWriter, r *http.Request) {
    if r.URL.Path != "/" {
    http.NotFound(w, r)
    return
    }
    // Initialize a slice containing the paths to the two files. Note that the
    // home.page.tmpl file must be the *first* file in the slice.
    files := []string{
    "./ui/html/home.page.tmpl",
    "./ui/html/base.layout.tmpl",
    }
    // Use the template.ParseFiles() function to read the files and store the
    // templates in a template set. Notice that we can pass the slice of file paths
    // as a variadic parameter?
    ts, err := template.ParseFiles(files...)
    if err != nil {
    log.Println(err.Error())
    http.Error(w, "Internal Server Error", 500)
    return
    }
    err = ts.Execute(w, nil)
    if err != nil {
    log.Println(err.Error())
    http.Error(w, "Internal Server Error", 500)
    }
}
...</code></pre>
<p>Итак, теперь, вместо непосредственного содержания HTML, наш набор шаблонов содержит 3 именованных шаблона
    (базовый, заголовок и основной) и инструкцию для вызова базового шаблона (который, в свою очередь,
    вызывает заголовок и основной шаблон).
</p>
<p>Не стесняйтесь перезапустить сервер и попробовать.
    Вы должны обнаружить, что он отображает тот же результат, что и раньше (хотя в исходном HTML-коде, где находятся действия, будут дополнительные пробелы ).
</p>
<p>Большим преимуществом использования этого шаблона для составления шаблонов является то, что вы можете четко
    определить специфичное для страницы содержимое в отдельных файлах на диске, а в этих файлах также
    контролировать, какой шаблон макета использует страница. Это особенно полезно для больших
    приложения, где разные страницы вашего приложения могут нуждаться в использовании разных макетов
</p>
<h2>Встраивание частей</h2>
<p>Для некоторых приложений вам может понадобиться разбить определенные фрагменты HTML на части, которые
    можно повторно использовать на разных страницах или макетах. Чтобы проиллюстрировать это, давайте создадим партиал, содержащий
    некоторый контент нижнего колонтитула для нашего веб-приложения.
</p>
<p>Создайте новый файл ui/html/footer.partial.tmpl и добавьте именованный шаблон с именем footer
    следующим образом:
</p>
<pre><code>$ touch ui/html/footer.partial.tmpl</code></pre>
<pre><code>File: ui/html/footer.partial.tmpl
    {{define "footer"}}
        &lt;footer&gt;Powered by &lt;a href='https://golang.org/'&gt;Go&lt;/a&gt;&lt;/footer&gt;
    {{end}}</code></pre>
<p>Затем обновите базовый шаблон, чтобы он вызывал нижний колонтитул с помощью
    действия {{template "footer" .}}:</p>
<pre><code>File: ui/html/base.layout.tmpl
{{define "base"}}
&lt;!doctype html&gt;
&lt;html lang='en'&gt;
    &lt;head&gt;
        &lt;meta charset='utf-8'&gt;
        &lt;title&gt;{{template "title" .}} - Snippetbox&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;header&gt;
            &lt;h1&gt;&lt;a href='/'&gt;Snippetbox&lt;/a&gt;&lt;/h1&gt;
        &lt;/header&gt;
        &lt;nav&gt;
            &lt;a href='/'&gt;Home&lt;/a&gt;
        &lt;/nav&gt;
        &lt;main&gt;
            {{template "main" .}}
        &lt;/main&gt;
        &lt;!-- Invoke the footer template --&gt;
        {{template "footer" .}}
    &lt;/body&gt;
&lt;/html&gt;
{{end}}</code></pre>
<p>Наконец, нам нужно обновить домашний обработчик, чтобы он включал новый
    файл ui/html/footer.partial.tmpl при анализе файлов шаблонов:</p>
<pre><code>File: cmd/web/handlers.go
    package main
    ...
    func home(w http.ResponseWriter, r *http.Request) {
    if r.URL.Path != "/" {
    http.NotFound(w, r)
    return
    }
    // Include the footer partial in the template files.
    files := []string{
    "./ui/html/home.page.tmpl",
    "./ui/html/base.layout.tmpl",
    "./ui/html/footer.partial.tmpl",
    }
    ts, err := template.ParseFiles(files...)
    if err != nil {
    log.Println(err.Error())
    http.Error(w, "Internal Server Error", 500)
    return
    }
    err = ts.Execute(w, nil)
    if err != nil {
    log.Println(err.Error())
    http.Error(w, "Internal Server Error", 500)
    }
}
...</code></pre>
<p>После перезапуска сервера ваш базовый шаблон теперь должен вызывать шаблон нижнего колонтитула
    , и ваша домашняя страница должна выглядеть так:</p>
<p><img src="static/images/picture2.10.png"/></p>
<h2>Дополнительная информация</h2>
<h3>Действие блокировки</h3>
<p>В приведенном выше коде мы использовали действие {{template}} для вызова одного шаблона из
    другого. Но Go также предоставляет действие {{block}}...{{end}}, которое вы можете использовать вместо него.
    Это действует так же, как действие {{template}}, за исключением того, что позволяет указать некоторый контент по умолчанию,
    если вызываемый шаблон не существует в текущем наборе шаблонов.
</p>
<p>В контексте веб-приложения это полезно, когда вы хотите предоставить некоторый
    контент по умолчанию (например, боковую панель), который отдельные страницы могут переопределять в каждом конкретном случае, если
    это необходимо.
</p>
<p>Синтаксически вы используете это так:</p>
<pre><code>{{define "base"}}
    &lt;h1&gt;An example template&lt;/h1&gt;
    {{block "sidebar" .}}
        &lt;p&gt;My default sidebar content&lt;/p&gt;
    {{end}}
{{end}}</code></pre>
<p>Но — если хотите — вам не нужно включать какой-либо контент по умолчанию между действиями {{block}} и {{end}}. В этом случае вызванный шаблон действует как «необязательный». Если
    шаблон существует в наборе шаблонов, он будет отображен. Но если это не так, то ничего не
    будет отображаться.</p>


</body>
</html>