File: ui/html/base.layout.tmpl
{{define "base"}}
&lt;!doctype html&gt;
&lt;html lang='en'&gt;
&lt;head&gt;
&lt;meta charset='utf-8'&gt;
&lt;title&gt;{{template "title" .}} - Snippetbox&lt;/title&gt;
&lt;!-- Link to the CSS stylesheet and favicon --&gt;
&lt;link rel='stylesheet' href='/static/css/main.css'&gt;
&lt;link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'&gt;
&lt;!-- Also link to some fonts hosted by Google --&gt;
&lt;link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;header&gt;
&lt;h1&gt;&lt;a href='/'&gt;Snippetbox&lt;/a&gt;&lt;/h1&gt;
&lt;/header&gt;
&lt;nav&gt;
&lt;a href='/'&gt;Home&lt;/a&gt;
&lt;/nav&gt;
&lt;main&gt;
{{template "main" .}}
&lt;/main&gt;
{{template "footer" .}}
&lt;!-- And include the JavaScript file --&gt;
&lt;script src="/static/js/main.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
{{end}}